*{
    margin: 0px;
    padding: px;
    box-sizing: border-box;
}
.out-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   background-image: url(./street.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* this is changed by github */
    
}
.out-box .in-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    height: 100%;
    /* background-color: aliceblue; */
    /* padding: 50px; */
    /* margin-left: 100px;
    margin-top: 100px; */
    position: absolute;
    box-shadow: 0px 0px 5px 2px rgba(40, 37, 37, 1);
    /* border: 2px solid red; */
    border-radius: 10PX;
    
}
.in-box .image-car{
height: 200px;
width: 250px;
padding: 3px;
box-shadow: 0px 0px 5px 2px rgba(40, 37, 37, 1);
border-radius: 10PX;
}
.image-car .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10PX;
}
.text-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.text-data .name{
    /* font-family: fantasy; */
    font-family: 'Times New Roman', Times, serif; 
    font-size: large;
    color: white;
    font-weight: 500;

}
.text-data .about{
    padding: 20px;
    color: white;
}
.btn {
    display: flex;
    gap: 25px;
    
}

.btn button{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;
    
}
.btn .btn1{
    color: blue;
     font-weight: bold;
     border: 1px solid rgb(88, 88, 248);
     background-color: transparent;
}
.btn1:hover{
    background-color:rgb(87, 87, 245);
    color: white;
}
.btn .btn2{
    color: white;
     font-weight: bold;
     border: 1px solid rgb(87, 87, 245);
     background-color: rgb(87, 87, 245);
}